
KibaCustomControl.v12.suo
.vs/KibaCustomControl/v15/Server/sqlite3/storage.ide-wal
.vs/KibaCustomControl/v15/Server/sqlite3/storage.ide-shm
.vs/KibaCustomControl/v15/Server/sqlite3/storage.ide
.vs/KibaCustomControl/v15/Server/sqlite3/db.lock
.vs/KibaCustomControl/v15/.suo
.vs/KibaCustomControl/DesignTimeBuild/.dtbcache
